/* Dispositivos medianos */


@media only screen and (max-width: 400px) {
    * {
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    .grandson1 {
        width: 400px;

    }

    body {
        margin: 0;
    }

    html {
        font-size: 16px;

    }

    .navbar i {
        font-size: 26px;

        color: aliceblue;


    }

    .navbar {
        background-color: rgb(10, 34, 105);
        position: sticky;
        top: 0;
        height: 30px;



    }

    .navbar .container {
        position: relative;
        left: -400px;
        display: flex;
        height: 90px;
        top: 0;
        align-items: center;
        z-index: 3;
        transition: .3s;

    }


    .checkBox {
        display: none;


    }


    .checkBox:checked~.container {
        left: 0;
        opacity: 93%;
    }



    .nav-menu {
        position: absolute;
        top: 2px;
        width: 100%;
        background-color: rgb(25, 43, 119);
        display: flex;
        flex-direction: column;
        z-index: 4;


    }

    .nav-menu a {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: aliceblue;
        text-decoration: none;
        padding: 6px;
        text-align: center;
        z-index: 6;



    }



    .nav-menu a:hover {
        color: rgb(252, 243, 244);
    }

    .hero__container {
        background-image: url('imagenes/portadapp.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 80px 0px;
        height: 100%;
        z-index: 1;
    }

    .box,
    .box2 {
        z-index: 0;
        margin-left: 0px;
        width: 150px;
        height: 150px;


        padding: 30px;
        z-index: -1;
    }

    .box {
        display: relative;
        bottom: 0px;
        left: 0px;
        padding: 0px 0px;
        color: rgb(248, 248, 248);
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .box2 {
        font-size: 25px;
        position: absolute;
        color: rgb(57, 235, 167);
        font-family: Arial;
        top: 100px;
        right: 0px;
        padding-top: 0%;
        padding-left: 38px;



    }



    body {

        background-color: rgba(1, 1, 68, 0.915);

    }




    .hero {



        background-size: 280px 370px;
        background-repeat: no-repeat;
        background-position: 44% 3%;

        height: 340px;

        width: 80%;


    }


    .box {
        margin-top: 15px;
        margin-left: 10px;
    }

    .box>p {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: rgb(248, 237, 237);
        z-index: -1;
    }



    .box>span {
        color: rgb(57, 235, 167)
    }

    .box2 {
        top: 15px;
        font-size: 17PX;
        top: 100px;
        margin-left: 22px;
    }


    .box2>span {

        font-size: 20px;
        color: aliceblue;
    }

    /*section 2-------------------------------------------------------------------
        ----------------
        -----------------------------*/
    .about2 {
        margin-top: 0;
    }

    .about2_div {
        width: 360px;
        padding: 15px 0px 0px 70px;
        position: static;
        height: 70px;
        margin-left: 15px;
        border-radius: 10px;
        background: rgb(195, 223, 200);
        z-index: 0;

    }


    .about2_button {
        margin-right: 40px;
        border-radius: 5px;
        height: 40px;
    }

    .about2_button2 {
        margin-right: 40px;
        border-radius: 5px;
        height: 40px;

    }

    .about2_button:hover {
        height: 45px;
        width: px;
    }


    .about2_button2:hover {
        height: 45px;
        width: px;
    }

    .about2_button3:hover {
        height: 45px;
        width: px;
    }

    .about2_button3 {

        border-radius: 5px;
        height: 40px;
    }


    h1 {
        margin-left: 120px;
        color: rgb(57, 235, 167);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
    }



    .acercademi {
        width: 350px;
        margin-left: 18px;
        background-color: rgb(8, 22, 63);
        border-radius: 5px;
    }

    p {
        text-align: center;
        font-size: 18PX;
        font-family: 'Times New Roman', Times, serif;
        color: aliceblue;
    }


    h2 {
        margin-left: 140px;
        color: rgb(57, 235, 167);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px
    }

    .servicios1:hover {
        margin-top: 5px;
        height: 300px;
        width: 280px;
        margin-left: 35px;
    }

    .serviciosimg:hover {
        background-color: rgb(55, 23, 58);
    }

    .serviciosimg {
        background-color: rgb(8, 22, 63);
        margin-left: 28px;
        height: 500px;
        width: 335px;
        border-radius: 5px;
    }

    .servicos_ricktitle {
        font-size: 20px;
        margin-left: 75px;

    }

    .servicios_rick_text {
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
    }

    .servicios1 {
        border-radius: 15px;
        margin-left: 15px;
        width: 302px;
        height: 326px;
    }

    h2.hab_title {
        margin-left: 25px;

    }

    .Habilidades {

        display: flex;
        flex-direction: column;

        margin-left: 28px;
        gap: 50px;
        align-items: center;
        /*  border: 1px rgb(41, 76, 216) solid;*/
        height: 500px;
        width: 335px;
        color: aliceblue;
    }

    .Habilidades span {

        color: rgb(238, 248, 241)
    }

    .iconitos_ingles {

        font-size: 20px;
     
    }

    .iconitos_equipo {
      

        font-size: 20px;
    }


    .iconitos_creatividad {
      

        font-size: 20px;


    }

    .iconitos_detalle {


        font-size: 20px;

    }







.hcontacto {
    margin-top: 65px;
    margin-left: 15px;
    font-family: serif;
    font-size: 25px;
    color: rgb(113, 229, 148);
}

.contacto {
    height: 180px;
    display: flex;
    margin-top: 10px;
    gap: 20px;
    border: 4px rgb(9, 26, 75) solid;
    background-color: rgb(8, 22, 63);
}

.whatssap {
    margin-top: 100px;
    width: 47px;
    margin-left: 90px;
    background-color: rgb(226, 233, 240);
    height: 45px;
    border-radius: 15px;
    border: rgb(100, 201, 214) solid;
}

.mail {
    margin-top: 10px;
    width: 47px;
    margin-left: -70px;
    background-color: rgb(226, 233, 240);
    height: 45px;
    border-radius: 15px;
    border: rgb(100, 201, 214) solid;
}

.mail:hover{
   border: rgb(113, 27, 211) solid;
}

.whatssap:hover{
    border: rgb(113, 27, 211) solid;
 }
}